@use 'styles/stars.scss';
@use 'styles/head.scss';
@use 'styles/body.scss';
@use 'styles/foot.scss';

html {
  overflow: hidden;
}

body {
  overflow: hidden scroll;
  height: 100vh;
  width: 100vw;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

